.report-header{
    background-color: rgba(72,191,83, 0.75);
    border: none;
    color: white;
}
.report-button{
    color: white;
    background-color: rgb(72,191,83, 0.75);
    margin-left: 5px;
    margin-right: 5px;
}
.report-button:hover{
    color: white;
    background-color: rgb(72,191,83);
}